<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <image src="{{ url_for('static', filename='image/CPA_logo.jpg')}}" alt="CPA logo"></image>
    &emsp;<a href="{{ url_for('wifi_setup')}}"> Wifi </a>&emsp;
    <a href="{{ url_for('user_configuration')}}"> Setup </a> &emsp;
    <a href="{{ url_for('status')}}"> Status </a> &emsp;
    <a href="{{ url_for('log_files')}}"> Logs </a> &emsp;
    <a href="{{ url_for('update_firmware')}}"> Firmware </a>&emsp;
    <a href="{{ url_for('password_change')}}"> Password </a>&emsp;
    <a href="{{ url_for('reboot')}}"> Reboot </a> &emsp;
    <a href="{{ url_for('logout')}}"> Logout </a>
    <br>
    {% block title %} {% endblock %}
</head>
<body>
    </script> <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"> </script>
    <div class="container"> {% block body %} {% endblock %} </div>
</body>
</html>