{% extends 'base.html' %}
{% block title %}
    <title>Dashboard</title>
{% endblock %}
{% block body %}
<h1> Dashboard </h1>

<table class="table table-striped">
    <tr>
        <th> Description </th>
        <th> Value </th>
    </tr>
    {% for x,y in data.items() %}
    <tr>
        <td> {{ x }} </td>
        <td> {{ y }} </td>
    </tr>
    {% endfor %}

</table>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}