{% extends 'base.html' %}
{% block title %}
    <title>Data logs</title>
{% endblock %}
{% block body %}
<form action="" method = "POST">
    <table class="table table-striped">
    <tr>
        <th> Filename </th>
    </tr>
    {% for x,y in data.items() %}
        <tr>
        <td> {{ x }} </td>
        </tr>
    {% endfor %}

    </table>
    <p style="text-align:right"><input type = "submit" value = "Download" /></p>
</form>
{% endblock %}