{% extends 'base.html' %}
{% block title %}
    <title>Firmware update</title>
{% endblock %}
{% block body %}
    <br>
    <h3> Current Firmware version: {{data}}</h3>
    <br>
    <form action="" method = "POST" enctype=multipart/form-data>
        <p><input type=file name=file></p>
        <p><input type="submit" value="Upload"></p>
    </form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}