{% extends 'base.html' %}
{% block title %}
    <title> Change password </title>
{% endblock %}
{% block body %}
    <h1> Change password </h1>

    <table class="table table-striped">
    <tr>
        <td> Old Username </td> <td> {{ data }} </td>
    </tr>
    <form action="" method = "POST">
        <tr>
        <td> New Username </td> <td> <p><input type="text" name="new_username" value={{ data }}></p> </td>
        </tr>
        <tr>
            <td> Old password </td> <td> <p><input type="text" name="old_password"></p> </td>
        </tr>
        <tr>
            <td> New password </td> <td> <p><input type="text" name="new_password"></p> </td>
        </tr>
        <tr>
            <td>  </td> <td> <p><input type="submit" value="Change"></p> </td>
        </tr>

    </form>
    </table>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}