{% extends 'base.html' %}
{% block title %}
    <title>Cloud config</title>
{% endblock %}

{% block body %}
<h3> User Setup </h3>
<form action="/rc-configs" method = "POST">
    <table class="table table-striped">
        <tr>
            <th> ID </th>
            <th> Value </th>
        </tr>
        {% for x,y in data.items() %}
        <tr>
            <td> {{ x }} </td>
            <td> <p><input type="text" name={{x}} value={{y}}></p></td>
        </tr>
        {% endfor %}
    </table>
    <p style="text-align:right"><input type = "submit" value = "Add" /></p>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}