{% extends 'base.html' %}
{% block title %}
    <title> Upload </title>
{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}