{% extends 'base.html' %}
{% block title %}
    <title>User setup</title>
{% endblock %}
{% block body %}
<h3> User Setup </h3>

<form action="" method = "POST">
    <table class="table table-striped">
        <tr>
            <th> ID </th>
            <th> Value </th>
            <th> Edit </th>
        </tr>
        {% for x,y in data.items() %}
            {% if y is string %}
                <tr>
                <td> {{ x }} (No space allowed) </td>
                <td> {{ y }} </td>
                <td> <p><input type="text" name={{x}} value={{y}}></p></td>
                </tr>
            {% elif x == "Frequency_of_logs_sync" %}
                <tr>
                <td> {{ x }} (hours per sync) </td>
                <td> {{ y }} </td>
                <td> <p><input type="number" min="0" step="0.1" name={{x}} value={{y}}></p></td>
                </tr>
                </tr>
            {% elif x == "Frequency_of_logging" %}
                <tr>
                <td> {{ x }} (minutes per data log) </td>
                <td> {{ y }} </td>
                <td> <p><input type="number" min="1" max="10" name={{x}} value={{y}}></p></td>
                </tr>
            {% elif y is sameas true or y is sameas false  %}
                <tr>
                <td> {{ x }} </td>
                <td> {{ y }} </td>
                <td> <select name="list" > <option value='True'>True</option> <option value='' SELECTED>False</option> </select>  </td>
                </tr>
            {% else %}
                <tr>
                <td> {{ x }} </td>
                <td> {{ y }} </td>
                <td> <p><input type="number" min="0" name={{x}} value={{y}}></p></td>
                </tr>
            {% endif %}
        {% endfor %}

    </table>
    <p style="text-align:right"><input type = "submit" value = "Edit" /></p>
</form>
<br>
<h3> Google Drive setup </h3>

<table class="table table-striped">
    <tr>
            <th> Upload Exsisting </th>
            <td> </td>
            <td>
            <form action="/rc-upload" method = "POST" enctype=multipart/form-data>
                <p><input type=file name=file></p>
                <p><input type="submit" value="Upload"></p>
            </form>
            </td>

    </tr>
    <tr>
        <form action="/rc-config" method = "POST">
        <th> New Configuration </th>
        <td> Client ID </td>
        <td> <p><input type="text" name="client_id"></p></td>
        <tr>
            <td> </td>
            <td> Client secret </td>
            <td> <p><input type="text" name="client_secret"></p></td>
        </tr>
    </tr>
    <td> </td>
    <td> </td>
    <td>
            <p style="text-align:right"><input type = "submit" value = "Add" /></p>
    </td>
    </form>
</table>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}