{% extends 'base.html' %}
{% block title %}
    <title>Wifi setup</title>
{% endblock %}
{% block body %}
<h1> Wifi Setting </h1>

<form action="" method = "POST">
    <table class="table table-striped">
        <tr>
            <th> Description </th>
            <th> Input </th>
        </tr>
        <tr>
            <td> Wifi Name </td>
            <td> <p><input type="text" name="Name"></p></td>
        </tr>
        <tr>
            <td> Wifi SSID (hexadecimal) </td>
            <td> <p><input type="text" name="SSID"></p></td>
        </tr>
        <tr>
            <td> Wifi Password </td>
            <td> <p><input type="text" name="Password"></p></td>
        </tr>

    </table>
    <p style="text-align:right"><input type = "submit" value = "Add" /></p>

</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}